.gr_review_container {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.42px;
    color: #63666A;
    margin-bottom: 20px;
    border-bottom: 1px solid #E3E4E6;
    padding-bottom: 20px;
}

.gr_review_container a {
    color: #373A36;
    font-weight: 600;
}

.gr_rating {
    color: #FFCC00;
}

.gr_pagination {
    font-size: 15px;
    text-align: center;
}

.gr_pagination a {
    color: #373A36;
    font-weight: 600;
    padding: 0 5px;
}

.gr_pagination a:hover {
    color: #FC4C02;
}

.gr_pagination .previous_page,
.gr_pagination .next_page {
    text-transform: uppercase;
}

.gr_pagination em {
    padding: 0 5px;
}

.gr_reviews_showing {
    display: none !important;
}

::-webkit-scrollbar-track {
    border: 2px solid white;
    // border color does not support transparent on scrollbar
    // border-color: transparent;
    background-color: #b2bec3;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb {
    background-color: #74b9ff;
    border-radius: 10px;
}
